.popup__image-close{
    cursor: pointer;
    background: transparent;
    background-image: url(../../../images/Close\ Icon.png);
    text-decoration: none;
    position: absolute;
    width: 32px;
    height: 32px;
    border: none;
    top: -40px;
    right: -34px;

}